version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: oms_postgres
    environment:
      POSTGRES_USER: oms
      POSTGRES_PASSWORD: oms
      POSTGRES_DB: oms
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: oms_redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: oms_rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"

  pgadmin:
    image: dpage/pgadmin4:7
    container_name: oms_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@oms.local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  pgdata:
